#Product{
    width: 80%;
    margin: 1rem auto;
}

#Product .product{
    width: 20em;
    vertical-align: bottom;
}

#Product .avatar{
    vertical-align: bottom;
    width: 3em;
    height: auto;
    border-radius: 50%;
}

#Product .content{
    padding: 1rem;
}